# Ignore Visual Studio files
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sdf
*.ipch
*.obj
*.log
*.tlog
*.pch
*.exe
*.ilk
*.pdb
*.idb
Debug/
Release/
x64/
x86/
*.aps
*.ncb
*.cache
*.opensdf
*.db
*.sbr
*.res
*.dll
*.lib
*.exp